@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Raleway&display=swap');

html {
  scroll-behavior: smooth;

  --full-gold: #E1C58F;
  --light-gold: #E1C58F65;
  --main-indigo-blue: #1F3A49;
  --menu-light-blue: #3D5664;
  --babyblue-smooth-text: #79ACBC;
  --waves-dark-blue1: #051e27; 
  --waves-dark-blue2: #071820;
  --baby-blue: #84bfbd;
  --olive-green: #9ccc65;
  --olive-dark-brown: #393F32;
  --olive-brown: #6C674F;
  --cloudy-sky: #827F7A;
  --cloudy-light-sky: #8E949279;
  --nude-text: #FAD7BC;
  --darkest-red: #2C1A15;
  --kinda-light-red: #512016;
  --light-gold-red: #DAAD96;
  --strong-red: #D10808;
  --white: #fff;
  --black: #000;
  --raleway-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--raleway-font);
}



/* General */

.mt-3{
  margin-top: 3em;
}

a{
  text-decoration: none;
  color: var(--full-gold);
}

.Three-columns-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Main-column{
  margin: 20vh 0vh 0vh -25vh;
  animation: inner-left 1s 1s ease both;
}


/* App Intro */

.App-header {
  background-color: var(--main-indigo-blue);
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: var(--full-gold);
}

.Side-bar-menu{
  width: 50%;
  margin-top: 5vh;
}

.App-sign{
  width: 6em;
  margin: 1.5em 2em;
}

.Menu-items{
  background-color: var(--menu-light-blue);
  height: 80vh;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.Menu-links-columns{
  grid-template-columns: 80px 80px;
  display: grid;
  margin-left: 6vw;
}

.Menu-list{
  display: flex;
  transform: rotate(-90deg);
  flex-direction: row-reverse;
  margin-top: 2em;
  margin-left: -10vw;
  list-style: none;
}

.Menu-link{
  padding: 1vw;
}

.Menu-text:hover{
  cursor: pointer;
  animation-name: changeColor;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Social-links{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--full-gold);
  margin-top: 1em;
  padding: 4px;
  transform: rotate(90deg);
}

.Leave-development-div{
  margin: 1em 1em;
  text-align: center;
  animation: appear-left 3s 3s ease both;
}

.App-door{
  width: 4em;
}

.Leave-devclub-text{
  font-size: 12px;
  opacity: 0.5;
}

.Leave-devclub-text:hover{
  opacity: 1;
  cursor: pointer;
}

.Welcome-text{
  font-size: 10vw;
  animation: outer-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.Sub-title{
  font-size: 4.5vw;
  position: absolute;
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}


.Choose-from-menu{
  color: var(--babyblue-smooth-text);
}

.Info-text{
   opacity: 0;
   animation: appear-left 2.5s 2.5s ease both;
}

.Image-background-column{
  background-image: url(./images/intro-girl.jpg);
  background-size: cover;
  opacity: 0.3;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

/* About Section Styles */

.About-header {
  background-image: linear-gradient(180deg, var(--main-indigo-blue), var(--waves-dark-blue1), var(--waves-dark-blue2));
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: var(--baby-blue);
}

.About-row{
  margin: 5vh 0vh 0vh 5vh;
  /* animation: inner-left 1s 1s ease both; */
}

.Two-columns-grid{
  display: grid;
  grid-template-columns: 10% 75%;
  z-index: 1;
}

.Photos-background-row{
  margin-top: -11em;
  z-index: 0;
}

.Three-photo{
  width: 25%;
  margin-left: 3.5em;
  opacity: 0.3;
}

.Three-photo:nth-child(1){
  transform: rotate(-10deg);
}

.Sub-text{
  font-size: 3vw;
  line-height: 1.5;
}

.Underline-FrontEnd-Text{
  text-decoration: underline;
}

.Pragmatic-Software{
  color: var(--olive-green);
}

.Dots{
  font-size: 4vw;
  color: var(--olive-green);
}

.Left-text{
  float: left;
    font-size: 1.3vw;
    transform: rotate(-90deg);
    margin-top: 9em;
    width: 8em;
}

.Right-text{
  float:right;
}


/* Education Section */

.Education-header {
  /* background-image: linear-gradient(180deg, var(--waves-dark-blue2) 0%, var(--olive-dark-brown) 35.94%, var(--olive-brown) 57.81%, var(--cloudy-sky) 81.25%, var(--cloudy-light-sky) 99.48%); */
  background: var(--waves-dark-blue2);
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: var(--baby-blue);
}

.Education{
  color: var(--full-gold);
  font-size: 4.5vw;
}

.Round-back-photo, .Round-back-photo-ml8, .Round-back-photo-mt3{
  height:500px;
  box-shadow: 4px 4px 18px 8px var(--black);
  border-radius: 69px;
  transform: rotate(-180deg);
  margin-left: 6em;
  margin-bottom: 3em;
  opacity: 0.4;
}

.Round-back-photo-ml8{
  margin-left: 8em;
}

.Round-back-photo-mt3{
  margin-top: 3em;
}

.Two-columns{
  display: grid;
  grid-template-columns: 20% 55%;
  z-index: 1;
}

.Two-columns-equal{
  display: grid;
  grid-template-columns: 45% 40%;
  gap: 5%;
}

.Two-columns-40-60{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5%;
}

.Education-info{
  z-index: 2;
  text-align: right;
  color: var(--white);
  line-height: 2;
}

.Education-info-mt3{
  z-index: 2;
  text-align: right;
  color: var(--white);
  line-height: 2;
  margin-top: 3em;
}

.Large-title, .Large-title-date, .Large-title-date-white{
  font-size: 2.5vw;
}

.Medium-title{
  font-size: 1.9vw;
}

.Green-text{
  color: var(--olive-green);
  opacity: 0.5;
}

.Large-title-date{
  color: var(--full-gold);
}

.Large-title-date-white{
  color: var(--white);
}


/* Skills Section */

.Center-text.Skills{
  color: var(--full-gold);
  font-size: 4.5vw;
}

.Center-text.Skills-text{
  font-size: 4.3vw;
}

.Skills-text{
  color: var(--light-gold-red);
}

.Skills-header {
  background: linear-gradient(180deg, var(--waves-dark-blue2) 0%, var(--darkest-red) 30.73%);
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
}

.Skills-header.Computer {
  background: var(--darkest-red);
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
} 

.Skills-column{
  text-align: center;
}

.Main-column-skills{
  margin: 20vh 20vh 0vh -50vh;
  animation: inner-left 1s 1s ease both;
}

.Image-background-column-skills{
  background-image: url(./images/red-dress-woman.jpg);
  background-size: cover;
  opacity: 0.3 !important;
}

.Image-background-column-computer{
  background-image: url(./images/soft-red-dress.jpg);
  background-size: cover;
  opacity: 0.3 !important;
}

.Languages-Div{
  background-color: var(--kinda-light-red);
  height: 40vh;
  text-align: center;
  line-height: 3;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.Computer-Div{
  background-color: var(--kinda-light-red);
  height: 40vh;
  text-align: center;
  line-height: 1.3;
  padding-top: 3em;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.Small-text{
  font-size: 1vw;
  color: var(--light-gold-red);
  margin-left: 7em;
}

.One-Equal-Column{
  color: var(--white);
  font-size: 1.2vw;
  margin: 5em 0 0 5em;;
}

.red-text{
  color: var(--strong-red);
  font-size: 2vw ;
}
















/* Animations */

@keyframes changeColor{
  0%   { color: var(--full-gold); }
  30% {  color: var(--babyblue-smooth-text); }
  70% {  color: var(--white); }
  100% {  color: var(--full-gold); }
}

@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes appear-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
